<nav class="navbar navbar-inverse" style="margin-bottom: 1px">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#responsive-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    Голосовать <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="ctrl.goVoting(0)">Лучший игрок</a></li>
                    <li><a href="" ng-click="ctrl.goVoting(1)">Лучший красный игрок</a></li>
                    <li><a href="" ng-click="ctrl.goVoting(2)">Лучший черный игрок</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    Общий рейтинг <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="ctrl.bestPlayer(0)">Лучший игрок</a></li>
                    <li><a href="" ng-click="ctrl.bestPlayer(1)">Лучший красный игрок</a></li>
                    <li><a href="" ng-click="ctrl.bestPlayer(2)">Лучший черный игрок</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    Мой рейтинг <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="ctrl.myBestPlayer(0)">Лучший игрок</a></li>
                    <li><a href="" ng-click="ctrl.myBestPlayer(1)">Лучший красный игрок</a></li>
                    <li><a href="" ng-click="ctrl.myBestPlayer(2)">Лучший черный игрок</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Выход</a></li>
        </ul>
    </div>
</nav>
