body {
  padding: 0;
  margin: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.playerBox {
  width: 20%;
  float: left;
  position: relative;
}

.playerImage {
  width: 100%;
}

.playerInfo {
  background: black;
  color: white;
  padding-left: 10px;
  padding-bottom: 5px;
  height: 60px;
  border-radius: 10px 10px;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 10px;
}

.playerInfo .nickname, .playerInfo .rating {
  padding: 5px;
}

.header {
  width: 100%;
  position: relative;
}

.start-header {
  background: #e7e7e7;
}

.menulist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menulist li {
  display: inline-block;
  width: 150px;
  padding: 10px 15px;
}

.menulist .last-item {
  position: absolute;
  right: 15px;
}

.menulist .last-item a {
  position: absolute;
  right: 15px;
}
