<nav class="navbar navbar-inverse" style="margin-bottom: 1px">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#responsive-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav">
            <li><a href="" ng-click="mainHeaderCtrl.goVoting(0)">Проголосовать</a></li>
            <li><a href="" ng-click="mainHeaderCtrl.bestPlayer(0)">Общий рейтинг</a></li>
            <li><a href="" ng-click="mainHeaderCtrl.myBestPlayer(0)">Мой рейтинг</a></li>
            <li><a href="" ng-if="mainHeaderCtrl.user.isAdmin" ng-click="">Админка</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Выход</a></li>
        </ul>
    </div>
</nav>
