<div class="header main-header">
  <ul class="menulist">
    <li>
      <a href="" ng-click="mainHeaderCtrl.goVoting()">Проголосовать</a>
    </li>
    <li>
      <a href="" ng-click="mainHeaderCtrl.bestPlayer()">Общий рейтинг</a>
    </li>
    <li>
      <a href="" ng-click="mainHeaderCtrl.myBestPlayer()">Мой рейтинг</a>
    </li>
    <li>
      <a href="" ng-click="mainHeaderCtrl.adminPanel()">Админка</a>
    </li>
    <li class="last-item">
      <a href="/logout">Выход</a>
    </li>
  </ul>
</div>
